<%- include header %>

<div class="span6">
	<form class="form-horizontal" method="post">
		
		<div class="control-group">
			<label class="control-label" for="inputEmail">用户名</label>
			<div class="controls">
				<input id="inputEmail" name="name" type="text" />
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="inputPassword">密码</label>
			<div class="controls">
				<input id="inputPassword" name="password" type="password" />
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="password-repeat">确认密码</label>
			<div class="controls">
				<input id="password-repeat" name="password-repeat" type="password" />
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="email">邮箱</label>
			<div class="controls">
				<input id="email" name="email" type="text" />
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<button type="submit" class="btn">注册</button>
			</div>
		</div>
	</form>
</div>

<%- include footer %>